

.array-container {
    height:100vh;
    position: absolute;
    width:100vw;
    background-color:rgb(32, 186, 186);
    align-items: center;
  }
  
  .array-bar {
    width: 5px;
    display: inline-block;
    margin-left:3px;
  }
.button-class
{
    
    position:absolute;
    width:fit-content;
    margin-left:600px;
    bottom: 0.5vh;
  

}
.bar-class{
  background-color:azure;
  margin: 50px 50px;
  height:70vh;
  align-items: center;
  box-shadow: 20px;
  border-radius: 1.5cm;
  top:0px;

}
.bar-class:hover{
  opacity: 1.2;
  transform: scale(1.01) ;

}

